name: Publish ACR image

on:
  push:
    branches: [main]
    tags:
      - '*'
  workflow_dispatch:

env:
  REGISTRY: czertainlytestswcacr.azurecr.io
  IMAGE_NAME: czertainly-core

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      actions: write

    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run pre-build
        run: |
          ./prebuild_image_script

      - name: Log in to ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=tag
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags/') }}
            type=raw,value=develop-latest
            type=sha,prefix=develop-,format=long

      - name: Test build Docker image
        id: build-and-load
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64
          file: ./Dockerfile
          load: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Select tag for scanning
        id: tag
        run: |
          FIRST_TAG="$(echo "${{ steps.meta.outputs.tags }}" | head -n 1)"
          echo "value=$FIRST_TAG" >> "$GITHUB_OUTPUT"

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ${{ steps.tag.outputs.value }}
          format: json
          output: trivy-report.json
          exit-code: 0

      - name: Upload vulnerability report
        uses: actions/upload-artifact@v5
        with:
          name: trivy-report
          path: trivy-report.json

      - name: Fail build on vulnerabilities
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ${{ steps.tag.outputs.value }}
          trivy-config: config/trivy.yaml
          skip-setup-trivy: true

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
